* {
margin: 3px;
padding: 3px;
}

body {
    background-image: url("./Images/Speckled-Bkgrd.jpg");
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
  }

header {
    display: flex;
    margin-right: auto;
}

header h1 {
  font-size: 40px;
    background-color: white;
    justify-content: flex-start;
    float: left;
}

nav {
    display: flex;
    float: right;
    flex-wrap: wrap;
    margin-left: 40px;
    background-color: white;
  }
  
nav a {
    float: right;
    color: rgb(231, 0, 231);
    padding: 20px;
    text-decoration: none;
    text-align: right;
  }
  
nav a:hover {
    color: black;
    background-image: url(./Images/heartz.png);
  }

nav a:active {
    color: white;
    box-shadow: 0 0 10px rgb(72, 0, 106) inset;
}
  
main {
    display: flex;
    flex-wrap: wrap;
  }

.about-me {
    display: flex;
    align-items: center;
}

.about-me img {
    border-radius: 50%;
}

.projects {
    font-family: 'Averia Serif Libre', cursive;
    text-align: center;
    flex: auto;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

.projects h2 {
    font-size: 25px;
    color: rgb(231, 0, 231);
}

p {
    background-color: rgb(255, 214, 221);
    padding: 20px;
    margin-right: 30px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
}
  
.card {
    border-style: solid;
    border-width: 3px;
    border-radius: 1%;
    background-color: white;
    padding: 10px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
  }

.card img {
    width: 94%;
    padding-right: 10px;
  }
  
#project-1 {
    flex: auto;
    background-color: white;
    max-width: 680px;
}

#icon {
    max-width: 50px;
}

@media screen and (max-width: 750px) {
    p {
      font-size: 14px;
      margin-right: 2px;
    }
    /* .about-me img {
      max-width: 50%;
    } */
}

@media screen and (max-width: 500px) {
    main
    .about-me {
      flex-direction: column;
    }
    nav a {
      padding: 2px 2px;
      margin-right: 1px;
      font-size: 12px;
    }
    header h1 {
      font-size: 20px;
    }
    #project-1 {
      padding: 0px;
      margin: 1px;
    }
}
